.slider-container {
    position: relative;
    perspective: 1000px;
    width: 100%;
    height: 300px;
    padding: 25px 0px;
    transform-style: preserve-3d;
}
.slider-container div {
    height: 300px;
    width: 300px;
    /*border: 1px solid black;*/
    position: absolute;
    opacity: 0;
    /*display: none;*/
    cursor: pointer;
    transition: all .5s;
}
.slider-container div:hover {
    /*background-color: green;*/
    /*border: 1px solid grey;*/
}
.slider-container .visible {
    opacity: 1;
    /*display: block;*/
    transform: translateX(-50%);
}
.slider-container .middle {
    opacity: 1;
    /*display: block;*/
}