.desc-menu {
    text-align: center;
}

.desc-menu .item-info{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.25);
}

.desc-menu .item-name{
    font-size: x-large;
    text-transform: uppercase;
    height: 40px;
    font-weight: bold;
    text-align: left;
    margin-top: 3px;
    padding-left: 26px;
}

.desc-menu .item-info .item-stock-size{
    width: calc( 100% - 2px);
    border: 1px solid #01016A;
}

.desc-menu .item-info .item-price{
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 100px;
    max-width: 300px;
    border-bottom: 1px solid #01016A;
    border-top: 1px solid #01016A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.desc-menu .item-info .item-more-btn{
    flex-shrink: 1;
    min-width: 80px;
    background-color: #01016A;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desc-menu .item-stock-size{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desc-menu .item-stock-size .lt,
.desc-menu .item-stock-size .gt{
    width: 20px;
    cursor: pointer;
    flex-grow: 0;
    font-weight: bold;
    font-size: x-large;
    padding: 5px
}

.desc-menu .item-stock-size .sizes {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

