ul.tab_menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    height: 35px;
    align-items: stretch;
    margin-bottom: 10px;
}

ul.tab_menu li{
    text-align: center;
    display: none;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
}

ul.tab_menu li > div{
    text-overflow: ellipsis;
    overflow: hidden;
}

ul.tab_menu .visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.tab_menu .selected{
    position: relative;
    background-color: #01016A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px 0px grey;
}

ul.tab_menu .selected:after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    top: 100%;
    content: ' ';
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid #01016A;
}